# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
.yarn/releases
.yarn/sdks
!.yarn/versions
# Swap the comments on the following lines if you wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*

# TypeScript
build
tsconfig.tsbuildinfo

# Codegen
generated

# Tests
coverage
perf
results
screenshots

# Environment Variables
.env

# Editor
.vscode

# Temp
*@tmp*
logback.log