.env
.vscode

.pnp.*
.yarn
.yarnrc.yml

build
tsconfig.tsbuildinfo

coverage
test-results

svcs/api/src/database/generated-typings.ts
svcs/api/src/graphql/generated-typings.ts
svcs/ui/libs/client/src/graphql/generated-typings.tsx