# Yarn
.pnp.*
.yarn
.yarnrc.yml

# TypeScript
build
tsconfig.tsbuildinfo

# Codegen
generated

# Tests
coverage
perf
results
screenshots

# Environment variable
.env

# Editor
.vscode

# Temp
logback.log
*@tmp*